.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 45px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.shop-container img{
    width: 286px;
    height: 286px;
}