.header-container {
    background-color: rgba(28, 43, 53, 1);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.header-container img {
    width: 140px;
    height: 40px;
}

.header-container a {
    margin-left: 35px;
    color: white;
    text-decoration: none;
}

.header-container a:hover {
    color: orange;
}

.custom-link {
    display: flex;
}